<mat-toolbar class="navbar" *ifAuthenticated>
    <img src="assets/logo-baron-pesi.svg" alt="" class="button" mat-menu-item>
    <button class="button" mat-menu-item routerLink="events" routerLinkActive="active-link">
        Eventi
    </button>
    <button class="button" mat-menu-item routerLink="cards" routerLinkActive="active-link">
        Carte
    </button>
    <span class="example-spacer"></span>
    <button class="button" mat-menu-item routerLink="subjects" routerLinkActive="active-link">
        Soggetti
    </button>
    <span class="example-spacer"></span>
    <button class="button" mat-menu-item routerLink="materials" routerLinkActive="active-link">
        Materiali
    </button>
    <span class="example-spacer"></span>
    <button class="button" mat-menu-item routerLink="installations" routerLinkActive="active-link" *appIfAdmin>
        Installazioni
    </button>
    <span class="example-spacer"></span>
    <button class="button" mat-menu-item routerLink="users" routerLinkActive="active-link" *appIfAdmin>
        Utenti
    </button>
    <span class="toolbar-item-spacer"></span>
    <button mat-icon-button matTooltip="My Account" [matMenuTriggerFor]="userAccountMenu">
        <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #userAccountMenu [overlapTrigger]="false" yPosition="below">
        <button mat-menu-item routerLink="my-account">
            <mat-icon>person</mat-icon><span>Il mio profilo</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="sidenav.close(); authSrv.logout()">
            <mat-icon>exit_to_app</mat-icon>Logout
        </button>
    </mat-menu>
    <div class="menu-mobile">
        <button mat-icon-button [matMenuTriggerFor]="menuMobile"><mat-icon>menu</mat-icon></button>
        <mat-menu #menuMobile="matMenu">
            <button mat-menu-item routerLink="events" routerLinkActive="active-link">Eventi</button>
            <button mat-menu-item routerLink="cards" routerLinkActive="active-link">Carte</button>
            <button mat-menu-item routerLink="subjects" routerLinkActive="active-link">Soggetti</button>
            <button mat-menu-item routerLink="materials" routerLinkActive="active-link">Materiali</button>
            <button mat-menu-item routerLink="installations" routerLinkActive="active-link" *appIfAdmin>Installazioni</button>
            <button mat-menu-item routerLink="users" routerLinkActive="active-link" *appIfAdmin>Utenti</button>
            <button mat-menu-item routerLink="my-account">Il mio profilo</button>
            <button mat-menu-item (click)="sidenav.close(); authSrv.logout()">
                <mat-icon>exit_to_app</mat-icon>Logout
            </button>
        </mat-menu>
    </div>
</mat-toolbar>

<mat-sidenav-container class="app-container" [ngClass]="resizeComponent() ? 'not-authenticated' : ''">
    <mat-sidenav #sidenav [mode]="getScreenWidth < 1160 ? 'over' : 'side'" [class.mat-elevation-z4]="true" class="app-sidenav">
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet>
        </router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container> 