<form [formGroup]="filtersForm">
  <div class="filter-events">
    <mat-form-field>
      <mat-label>Inserisci date</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate placeholder="Start date" formControlName="dtMin">
        <input matEndDate placeholder="End date" formControlName="dtMax">
      </mat-date-range-input>
      <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Numero Carta</mat-label>
      <input matInput placeholder="Numero carta" #input formControlName="numberCard">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Targa</mat-label>
        <input matInput placeholder="Targa" #input formControlName="plate">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Materiale</mat-label>
      <input matInput placeholder="Materiale" #input formControlName="materialDescription">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Ragione Sociale</mat-label>
      <input matInput placeholder="Ragione Sociale" #input formControlName="socialReason">
    </mat-form-field>

    <mat-form-field *appIfAdmin>
      <mat-label>Installazione</mat-label>
      <mat-select formControlName="installationId">
        <mat-option value="">
          <div style="margin: 10px auto 10px auto;">
            <strong>--nessuna--</strong>
          </div>        
        </mat-option>
        <mat-option *ngFor="let installation of installations$ | async" [value]="installation.id">
          <div style="margin: 10px auto 10px auto;">
            <strong>Codice: </strong>{{ installation.installationCode }}
            <br>
            <strong>Descrizione: </strong>{{ installation.description }}
          </div>
        </mat-option>
      </mat-select>
    </mat-form-field>    
  </div>

  <div class="filter-events-mobile">
    <button mat-raised-button [matMenuTriggerFor]="menu">Filtri</button>
    <mat-menu #menu="matMenu">
      <div fxLayout="column" (click)="$event.stopPropagation();" style="width: 100%; margin: 0; padding: 0;" class="matMenu">
        <mat-form-field>
          <mat-label>Inserisci date</mat-label>
          <mat-date-range-input [rangePicker]="pickerr">
            <input matStartDate placeholder="Start date" formControlName="dtMin">
            <input matEndDate placeholder="End date" formControlName="dtMax">
          </mat-date-range-input>
          <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="pickerr"></mat-datepicker-toggle>
          <mat-date-range-picker #pickerr></mat-date-range-picker>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Numero Carta</mat-label>
          <input matInput placeholder="Numero carta" #input formControlName="numberCard">
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Targa</mat-label>
            <input matInput placeholder="Targa" #input formControlName="plate">
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Materiale</mat-label>
          <input matInput placeholder="Materiale" #input formControlName="materialDescription">
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Ragione Sociale</mat-label>
          <input matInput placeholder="Ragione Sociale" #input formControlName="socialReason">
        </mat-form-field>
        <br>
        <mat-form-field *appIfAdmin>
          <mat-label>Installazione</mat-label>
          <mat-select formControlName="installationId">
            <mat-option value="">
              <div>
                <strong>--nessuna--</strong>
              </div>        
            </mat-option>
            <mat-option *ngFor="let installation of installations$ | async" [value]="installation.id">
              <div>
                <strong>Codice: </strong>{{ installation.installationCode }}
                <br>
                <strong>Descrizione: </strong>{{ installation.description }}
              </div>
            </mat-option>
          </mat-select>
        </mat-form-field>    
      </div>
    </mat-menu>
  </div>

  <button mat-raised-button [disabled]="hasValue()" (click)="deleteFilters()"><i class="pi pi-filter-slash"></i></button>
</form>