<form [formGroup]="filtersForm">
  <div class="filter-users">
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput placeholder="Username" #input formControlName="username" autocomplete="off">
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Installazione</mat-label>
      <mat-select formControlName="idInstallation">
        <mat-option value="">
          <div style="margin: 10px auto 10px auto;">
            <strong>--nessuna--</strong>
          </div>        
        </mat-option>
        <mat-option *ngFor="let installation of installations$ | async" [value]="installation.id">
          <div style="margin: 10px auto 10px auto;">
            <strong>Codice: </strong>{{ installation.installationCode }}
            <br>
            <strong>Descrizione: </strong>{{ installation.description }}
          </div>
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="filter-users-mobile">
    <button mat-raised-button [matMenuTriggerFor]="menu">Filtri</button>
    <mat-menu #menu="matMenu">
      <div fxLayout="column" (click)="$event.stopPropagation();" style="width: 100%; margin: 0; padding: 0;" class="matMenu">
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input matInput placeholder="Username" #input formControlName="username" autocomplete="off">
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Installazione</mat-label>
          <mat-select formControlName="idInstallation">
            <mat-option value="">
              <div>
                <strong>--nessuna--</strong>
              </div>        
            </mat-option>
            <mat-option *ngFor="let installation of installations$ | async" [value]="installation.id">
              <div>
                <strong>Codice: </strong>{{ installation.installationCode }}
                <br>
                <strong>Descrizione: </strong>{{ installation.description }}
              </div>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-menu>
  </div>

  <button mat-raised-button [disabled]="hasValue()" (click)="deleteFilters()"><i class="pi pi-filter-slash"></i></button>
  <button mat-raised-button color="primary" (click)="openDialog()">Aggiungi</button>
</form>