<div class="container-page">
    <div class="container-card">
        <mat-card *ngIf="user">
            <mat-card-header>
                <h1>Il mio profilo</h1>
            </mat-card-header>
            <mat-card-content>
                <h3>
                    <b>username:</b> {{ user!.username }}
                </h3>
                <h3>
                    <b>{{ user!.able ? 'Abilitato' : 'Disabilitato' }}</b>
                </h3>
                <h3>
                    <b>matricola:</b> {{ user!.id }}
                </h3>
                <h3>
                    <b>livello accesso:</b> {{ user!.accessLevel }}
                </h3>
                <h3>
                    <b>tipo:</b> {{ tipo }}
                </h3>
            </mat-card-content>
        </mat-card>

        <mat-card *ngIf="user && user!.installationId">
            <mat-card-header>
                <h1>Installazione assegnata</h1>
            </mat-card-header>
            <mat-card-content>
                <h3>
                    <b>codice:</b> {{ user!.installationId.installationCode }}
                </h3>
                <h3>
                    <b>descrizione:</b> {{ user!.installationId.description }}
                </h3>
                <h3>
                    <b>imei:</b> {{ user!.installationId.imei }}
                </h3>
            </mat-card-content>
        </mat-card>
    </div>
    <app-change-password></app-change-password>
</div>


<!--
-->