<div class="container-dialog">
    <h1 mat-dialog-title>Modifica materiale</h1>
    <div mat-dialog-content>
      <form [formGroup]="editForm">
        <mat-form-field>
          <mat-label>Descrizione</mat-label>
          <input matInput type="text" formControlName="description" [maxlength]="50">
        </mat-form-field>
      </form>
    </div>
    <div mat-dialog-actions>
      <button mat-raised-button (click)="onNoClick()" color="warn">Esci</button>
      <button mat-raised-button (click)="edit()" color="primary" [disabled]="!editForm.valid">Salva</button>
    </div>  
  </div>