@import "primeicons/primeicons.css";

/* You can add global styles to this file, and also import other style files */
:root{
    --primary-color: cornflowerblue;
    --secondary-color: #ecf3ff;
    --white: white;
    --red: #f44336;
    --green: #3bf85b;
    --excel: #0e6f3a;
}
* {
    margin: 0;
    padding: 0;
}
html, body { height: 100% !important; width: 100% !important; background-color: black;}
html, body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.container-page{
    height: 100%;
    overflow: auto;
}

.red{
    background-color: var(--red) !important;
    border-radius: 5px;
}

.green{
    background-color: green;
    border-radius: 5px;
}


.mat-mdc-snack-bar-container .mdc-snackbar__surface{
    background-color: transparent !important;
}

@media (max-width: 1310px){
    .mat-mdc-paginator-outer-container {
        width: 100%;
    }   
    .table-users{
        overflow-x: auto;
        display: block;
    }
}

@media (max-width: 588px){
    .mat-mdc-paginator-outer-container {
        width: 100%;
    }   
    .table-installations{
        overflow-x: auto;
        display: block;
    }
}

@media (max-width: 598px){
    .mat-mdc-paginator-outer-container {
        width: 100%;
    }   
    .table-subjects{
        overflow-x: auto;
        display: block;
    }
}

@media (max-width: 867px){
    .mat-mdc-paginator-outer-container {
        width: 100%;
    }   
    .table-cards{
        overflow-x: auto;
        display: block;
    }
}

@media (max-width: 1235px){
    .mat-mdc-paginator-outer-container {
        width: 100%;
    }   
    .table-events{
        overflow-x: auto;
        display: block;
    }
}

.menu-mobile{
    display: none;
}

@media (max-width: 750px){
    mat-toolbar > button{
        display: none !important;
    }
    .menu-mobile{
        display: block;
    }
}

.filter-users-mobile,
.filter-installations-mobile,
.filter-subjects-mobile,
.filter-cards-mobile,
.filter-events-mobile{
    display: none;
}

@media (max-width: 685px){
    .filter-users{
        display: none !important;
    }
    .filter-users-mobile{
        display: block;
    }
}

@media (max-width: 685px){
    .filter-installations{
        display: none !important;
    }
    .filter-installations-mobile{
        display: block;
    }
}

@media (max-width: 916px){
    .filter-subjects{
        display: none !important;
    }
    .filter-subjects-mobile{
        display: block;
    }
}

@media (max-width: 1148px){
    .filter-cards{
        display: none !important;
    }
    .filter-cards-mobile{
        display: block;
    }
}

@media (max-width: 1325px){
    .filter-events{
        display: none !important;
    }
    .filter-events-mobile{
        display: block;
    }
}

.matMenu > .mat-mdc-menu-item {
    margin: 0px !important;
}

.matMenu > mat-form-field[_ngcontent-ng-c3921708991]{
    width: 95%;
}

    /* width */
table::-webkit-scrollbar {
    height: 10px;
}

/* Track */
table::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
table::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
table::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.mat-mdc-paginator-page-size-select{
    background-color: var(--white);
    border-radius: 5px;
}

.mat-mdc-icon-button svg{
    background-color: var(--white);
    border-radius: 20px;
    color: black !important
}

.container-dialog{
    width: 400px;
    max-width: 100%;
}

.loginForm > .mat-mdc-raised-button.mat-unthemed{
    color: white !important;
}